.other-inputs-container {
    width: 95vw;
    position: fixed;
    bottom: -70px;
    right: 50%;
    translate: 50%;
}

.other-inputs-container .drag-target-wrapper-component {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 80%;
    width: 95.5%;
}

#font-colors-input-label,
#font-colors-input {
    cursor: pointer;
    margin-top: 5px;
}

#font-colors-input-label span {
    font-size: 26px;
}

#font-colors-input {
    margin-left: 10px;
}

#reset-all-values-button {
    cursor: pointer;
    background: transparent;
    border: none;
    margin-top: 5px;
    text-decoration: underline;
    border-radius: 10px;
    font-size: 22px;
    transition: 0.3s translate ease-in;
}

#reset-all-values-button:hover {
    translate: 3px -3px;
}

#reset-all-values-button:active {
    scale: 0.99;
}

@media screen and (min-width: 600px) {
    .other-inputs-container {
        width: 550px;
    }

    .other-inputs-container .drag-target-wrapper-component {
        height: 72%;
        width: 97%;
    }

    #font-colors-input-label,
    #font-colors-input {
        margin-top: 0px;
        position: relative;
        top: 2px;
    }
}