@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

label,
input[type="radio"] {
  cursor: pointer;
  width: max-content;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Caveat', cursive;
}

.drag-target-wrapper-component {
  border-radius: 12px;
  border: 8px double black;
}

.container-header {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: center;
  cursor: initial;
}

.container-heading {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 29px;
  width: max-content;
  user-select: none;
}

.inputs-container {
  width: 88vw;
  height: max-content;
  margin: 20px auto;
  border-radius: 12px;
}

.inputs-container .drag-target-wrapper-component {
  height: 95%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: space-evenly;
  border-radius: 10px;
  padding-bottom: 15px;
}

.color-container-text-fields,
.image-container-text-fields {
  height: 22px;
  width: 52px;
  padding: 0;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .drag-target-wrapper-component {
    margin: auto;
    cursor: grab;
    border-radius: 15px;
  }

  .inputs-container {
    justify-content: space-around;
    width: 480px;
  }
}